html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

article a:link, article a:hover, article a:visited {
    text-decoration: None;
}

.column-info {
    padding: 2px 0 16px 0;
}

.column-meta>* {
    max-width: 550px;
}
.column-meta img {
    float: right;
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

.column-meta h1 {
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.42;
}

.column-meta .description {
    color: #444;
    font-size: 17px;
    line-height: 1.47;
    margin: 8px 0;
}

.column-meta address.meta {
    font-size: 15px;
}

.float-container {
    background-color: #f6f6f6;
    flex: 1;
}

.float-container .main {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
    color: #1a1a1a;
    margin: 12px auto;
}

.float-container .main>h1 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 13px 20px;
}

ul.article-list, .pagination {
    list-style: None;
    padding: 0 20px;
}

ul.article-list>li {
    display: block;
    border-top: 1px solid #e7eaf1;
    padding-bottom: 16px;
}

.article-list h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    margin: 16px 0 0 0;
}

.article-list article .meta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 8px 0;
    font-size: 14px;
}

.article-list article .meta >* {
    margin-right: 10px;
}

.article-list article .meta img {
    height: 24px;
    widows: 24px;
    border-radius: 50%;
    align-self: center;
}

.article-list article .meta a {
    color: #444;
    font-size: 15px;
    font-weight: 600;
}

.read-more {
    font-size: 14px;
    color: #175199;
}

.pagination {
    border-top: 1px solid #e7eaf1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 40px;
}

